/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  display: block;
  max-width: 375px;
  background-color: #000028;
}

.body {
  
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  background-image: url(../images/cover-image-dark.png);
  background-size: cover;
  background-position: center;
  min-height: 658px;
  padding: 10px 0px 0px 0px;
  position: relative;
}

.rec-container {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 19px;
  gap: 10px;
}

.rec-text {
  font-family: 'IBM Plex Mono regular', sans-serif;
  color: #FF0070;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

.rec-indicator {
  width: 9px; 
  height: 9px;
  background-color: #FF0070; 
  border-radius: 50%;
  box-shadow: 0 0 4px 2px #FF0070; 
}

.rec-frame-top {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px; 
  height: 25px;
  border-width: 1px 1px 0px 0px;
  border-style: solid;
  border-color: #FF0070;  
}

.rec-frame-bottom {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 25px; 
  height: 25px;
  border-width: 0px 0px 1px 1px;
  border-style: solid;
  border-color: #FF0070;  
}

.header__theme-menu-list {
  text-align: end;
  list-style-type: none;
  margin-top: 39px;
  margin-right: 18px;
}

.header__theme-menu-button {
  font-family: 'IBM Plex Mono regular', sans-serif;
  font-size: 18px;
  font-weight: 400;
  outline: none;
  border: 0;
  background: transparent;
  margin-bottom: 11.5px;
  color: #FF0070;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  opacity: 1px;
}

.header__title {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 116px;
  font-weight: 700;
  line-height: 95.7px;
  color: #DB00FF;
  text-shadow: 4px 4px #FF0070;
  justify-items: center;
  margin:  0 0 0 10px;
}

.header__description {
  display: block;
  width: 355px;
  height: 117px;
  margin-left: 10px;
  background-color: #FF0070;
  font-family: 'IBM Plex Mono bold', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  color: #000028;
  margin-bottom: 25px;
}

.main {
  margin-left: 10px;
  margin-right: 10px;
}

.section__title {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  color: #FF0070;
  margin-top: 40px;
}

.section__subtitle {
  font-family: 'IBM Plex Mono regular', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  color: #000028;
  display: block;
  background-color: #FF0070;
  margin-top: 10px;
}

.section__text {
  font-family: 'IBM Plex Mono regular', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  color: #F1B2CE;
}

.gallery__title {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  color: #000028;
  display: block;
  background-color: #FF0070;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.gallery__item img {
  width: 100%;
  height: auto;
  display: block;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 375px;
  min-height: 667px;
  margin-top: 40px;
}

.footer__title {
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 116px;
  font-weight: 700;
  line-height: 95.7px;
  color: #DB00FF;
  text-shadow: 4px 4px #FF0070;
  margin-left: 10px
}